/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;   /* 🚫 vertical scrollbar hide karega */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

[_nghost-ng-c2960344252]{
  margin-top:0px;
}